﻿<# /*

Dit is een template file voor het genereren van een statische kopie van de
Translations tabel.

*/ #>
<#@ template language="C#v3.5" hostspecific="True" debug="True" #>
<#@ output extension=".cs" #>
<#@ assembly name="System.Data" #>
<#@ import namespace="System.Data" #>
<#@ import namespace="System.Data.SqlClient" #>
/* Deze file is gegenereerd. Wijzigingen worden niet behouden. Zie de bijbehorende .tt file. */
using System.Collections.Generic;

namespace LogiCAB.Common.Enums
{
	/// <summary>
	/// Deze enum bevat de statische inhoud van F_CAB_TRANSLATION.
	/// </summary>
	public class StaticTranslation
	{
<#
	using (var conn = new SqlConnection("Data Source=192.168.102.10;Initial Catalog=LOGICAB_LIVE;Persist Security Info=True;User ID=sa;Password=koppelaaR#91")) {
		conn.Open();
		using (var cmd = new SqlCommand(@"
			SELECT
				CDLA_SEQUENCE
			,	CDLA_TTF
			,	CDLA_LANGUAGE_DESC
			FROM
				F_CAB_TRANSLATION catr
			Inner Join
				F_CAB_CD_LANGUAGE cdla
					On	( catr.CATR_FK_LANGUAGE = cdla.CDLA_SEQUENCE )
			Group By
				CDLA_SEQUENCE
			,	CDLA_TTF
			,	CDLA_LANGUAGE_DESC
			Order By
				CDLA_SEQUENCE
			,	CDLA_TTF
			,	CDLA_LANGUAGE_DESC
			;
		", conn)) {
			var reader = cmd.ExecuteReader();

			PushIndent("\t\t");
			while (reader.Read()) {
				WriteLine("/// <summary>");
				WriteLine("/// {0}", reader["CDLA_LANGUAGE_DESC"]);
				WriteLine("/// </summary>");
				WriteLine("public static Dictionary<int, string> {0} = new Dictionary<int, string> {{", reader["CDLA_TTF"]);
				
				using (var conn2 = new SqlConnection("Data Source=192.168.102.10;Initial Catalog=LOGICAB_LIVE;Persist Security Info=True;User ID=sa;Password=koppelaaR#91")) {
					conn2.Open();
					using (var cmd2 = new SqlCommand(@"
						SELECT
							CATR_LABEL_ID
						,	CATR_LABEL_DESCRIPTION
						FROM
							F_CAB_TRANSLATION catr
						Inner Join
							F_CAB_CD_LANGUAGE cdla
								On	( catr.CATR_FK_LANGUAGE = cdla.CDLA_SEQUENCE )
						Where
							cdla.CDLA_TTF = '" + reader["CDLA_TTF"] + @"'
						Order By
							CATR_LABEL_ID
						,	CATR_LABEL_DESCRIPTION
						;
					", conn2)) {
						var reader2 = cmd2.ExecuteReader();
						PushIndent("\t");
						while (reader2.Read()) {
							WriteLine("{{{0}, \"{1}\"}},", reader2["CATR_LABEL_ID"], reader2["CATR_LABEL_DESCRIPTION"]);
						}
						PopIndent();
					}
				}
				
				WriteLine("};");
				WriteLine("");
			}
			PopIndent();
		}
	}
#>
	}
}
